<h1 class="titleApp">Thien Chat App</h1>
<div class="search-user">
  <form action="/search-user" method="post" class="submitSearch">
    <input placeholder="Search..." name="searchUser" />
  </form>
</div>
