/*INIT*/
body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}
#input:focus {
  outline: none;
}
#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.sidebar {
  border-right: 1px solid #d4d4d4;
}
section.wrapper {
  height: 100vh;
}
section.wrapper .app {
  height: 100%;
}

.titleApp {
  margin-top: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #4252dc;
}
.search-user {
  text-align: center;
}
.search-user input {
  background: #f7f7f7;
  border-radius: 15px;
  width: 100%;
  color: #bfbec1;
  padding: 12px 17px;
  outline: none;
  border: none;
}
#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  display: flex;
  width: 71%;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

.listUserView {
  list-style-type: none;
  padding: 0;
  height: calc(100vh - 460px);
  overflow-y: auto;
  overflow-x: hidden;
}
.listUserItem.active,
.listUserItem:hover {
  background: #f7f7f7;
  border-radius: 11px;
}

.listUserItem {
  display: flex;

  flex-direction: row;
  margin: 43px 0;
  cursor: pointer;
  padding: 8px 14px;
}

.listUserItem img {
  margin-right: 8px;
  width: 64px;
  height: 64px;
}
.listUserItem h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}
.listUserItem p {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #d4d4d5;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 89vh;
}

nav {
  position: sticky;
  top: 0;
  background: rgb(28, 30, 33);
  padding: 6px 6px;
  color: white;
}

.infoUserChat {
  display: flex;
  align-items: center;
}
.infoUserChat p {
  margin: 0;
  padding-left: 12px;
  font-size: 17px;
  font-weight: 600px;
}
.infoUserChat img {
  width: 40px;
  height: 40px;
}

.myProfile {
  text-align: center;
}
.myProfile img {
  width: 150px;
  height: 150px;
  margin-top: 30px;
}
.myProfile p {
  font-size: 30px;
}

.btn-logout {
  margin-bottom: 10px;
}

/* style message */
#messages li {
  display: flex;
}
#messages li.me {
  justify-content: flex-end;
}

.messageContent.me {
  background-color: #007bff;
}
.iMsgContent {
  width: 28px;
  height: 28px;
}
.messageContent {
  background-color: rgb(62, 64, 66);
  width: max-content;
  font-size: 15px;
  padding: 7px 12px;
  border-radius: 8px;
  color: white;
  margin-bottom: 4px;
  margin-left: 4px;
}
