body,
html {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.sidebar {
  border-right: 1px solid #d4d4d4;
}
section.wrapper {
  height: 100vh;
}
section.wrapper .app {
  height: 100%;
}

.titleApp {
  margin-top: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #000000;
}
.search-user {
  text-align: center;
}
.search-user input {
  background: #f7f7f7;
  border-radius: 15px;
  width: 100%;
  color: #bfbec1;
  padding: 12px 17px;
  outline: none;
  border: none;
}
#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  display: flex;
  width: 71%;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

.listUserView {
  list-style-type: none;
  padding: 0;
  height: calc(100vh - 224px);
  overflow: scroll;
  overflow-x: hidden;
}
.listUserItem.active,
.listUserItem:hover {
  background: #f7f7f7;
  border-radius: 11px;
}

.listUserItem {
  display: flex;

  flex-direction: row;
  margin: 43px 0;
  cursor: pointer;
  padding: 8px 14px;
}

.listUserItem img {
  margin-right: 8px;
  width: 64px;
  height: 64px;
}
.listUserItem h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}
.listUserItem p {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #d4d4d5;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 89vh;
}
